.cover{
    background-image: url("../../../public/cover.jpg") ;
    line-height: 400px;
    height: 500px;
    object-fit: cover;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.center-content{
    margin: 0px;
    height: 400px;

}



.form-title{
    color: transparent;
    font-size: 50px;
}

.container {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  align-self: center;
  padding: 16px;
  background-color: white;
  text-align: center;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}