.cover {
  background-image: url("../../../public/cover.jpg");
  line-height: 400px;
  height: 450px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

}

.center-content {
  margin: 0px;
  height: 400px;

}

.form-title {
  color: transparent;
  font-size: 50px;
}

.container {
  position: absolute;
  padding: auto;
  align-self: center;
  padding: 16px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 38%;
  margin: -25px 0 0 -25px;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}